@charset "UTF-8";

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
html{ 
    background-image: url("../images/Background2-Wishbon.webp");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

img:nth-of-type(1){
    position: absolute;
    top: -5px;
    left: 0px;
    width: 100%;
}

img:nth-of-type(2){
    position: absolute;
    top: 70px;
    left: 450px;
    /*width: 100%;*/
}

img:nth-of-type(3){
    position: absolute;
    top: -25px;
    left: 20px;
    width: 2000px;
}

img:nth-of-type(4){
    position: absolute;
    top: 175px;
    left: 500px;
    width: 1000px;
    height: 1000;
}

img:nth-of-type(5){
    position: absolute;
    top: -25px;
    left: -125px;
    width: 2000px;
}

img:nth-of-type(6){
    position: absolute;
    top: -25px;
    left: -95px;
    width: 2000px;
    height: 2300px;
}

img:nth-of-type(7){
    position: absolute;
    top: -320px;
    left: 570px;
    width: 1200px;
    height: 1060px;
}

img:nth-of-type(8){
    position: absolute;
    top: -270px;
    left: -720px;
    width: 1300px;
    height: 1300px;
}

/*h1{
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(-50%);
}*/

@font-face {
    font-family: 'Cookie';
    src: url("../Cookie/Cookie-Regular.ttf");
}

@font-face {
    font-family: 'Love';
    src: url("../Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf");
}

@font-face {
    font-family: 'Qwitcher';
    src: url("../Qwitcher_Grypen/QwitcherGrypen-Bold.ttf");
}

header, h1 {

    position: absolute;
    top: -110px;
    left: 140px;
    font-size: 440%;
    letter-spacing: 60px;
    font-family: 'Cookie', sans-serif;
    color: antiquewhite;

}

h3 {

    position: absolute;
    font-size: 400%;
    letter-spacing: 0px;
    font-family: 'Love', sans-serif;
    color: antiquewhite;
    /*--------------------------------*/

    width: 1150px;
    height: 390px;
    position: fixed;
    top: 51%;
    left: 62%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    line-height: 0.9;
    word-spacing: normal;
}

h4 {

    position: absolute;
    font-size: 400%;
    letter-spacing: 0px;
    font-family: 'Love', sans-serif;
    color: antiquewhite;
    /*--------------------------------*/

    width: 1150px;
    height: 390px;
    position: fixed;
    top: 56%;
    left: 62%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    line-height: 0.9;
    word-spacing: normal;
}

h5 {

    position: absolute;
    font-size: 400%;
    letter-spacing: 0px;
    font-family: 'Love', sans-serif;
    color: antiquewhite;
    /*--------------------------------*/

    width: 1150px;
    height: 390px;
    position: fixed;
    top: 61%;
    left: 62%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    line-height: 0.9;
    word-spacing: normal;
}

h6 {

    position: absolute;
    font-size: 255%;
    letter-spacing: 0px;
    font-family: 'Qwitcher', sans-serif;
    color: antiquewhite;
    /*--------------------------------*/

    width: 380px;
    height: 390px;
    position: fixed;
    top: 53%;
    left: 14%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    /*text-align: center;*/
    line-height: 0.9;
    /*word-spacing: normal;*/
    word-spacing: 5px;
}

h7 {

    position: absolute;
    font-size: 255%;
    letter-spacing: 0px;
    font-family: 'Qwitcher', sans-serif;
    color: antiquewhite;
    /*--------------------------------*/

    width: 380px;
    height: 390px;
    position: fixed;
    top: 53%;
    left: 14%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    /*text-align: center;*/
    line-height: 0.9;
    /*word-spacing: normal;*/
    word-spacing: 5px;
}



footer, h2 {

    position: absolute;
    top: 457px;
    left: 350px;
    font-size: 230%;
    letter-spacing: 20px;
    font-family: 'Cookie', sans-serif;
    color: antiquewhite;

}

/*body {
    position: relative;
   
    height: 1006px;
    width: 1006px;
    background-repeat: no-repeat;
    background-position: ;
    background-size: cover;
    overflow: hidden;
}*/