@charset "UTF-8";

/* Makes page take full height and removes default spacing */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /*prevents scrolling*/
}
/* Background image for the whole page */
html{ 
    background-image: url("../images/Background2-Wishbon.webp");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

/* First image position*/
img:nth-of-type(1){
    position: absolute;
    top: -5px;
    left: 0px;
    width: 100%;
}

/* Second image position */
img:nth-of-type(2){
    position: absolute;
    top: 70px;
    left: 450px;
    /*width: 100%;*/
}

/* Third image position */
img:nth-of-type(3){
    position: absolute;
    top: -25px;
    left: 20px;
    width: 2000px;
}

/* Fourth image position */
img:nth-of-type(4){
    position: absolute;
    top: 80px;
    left: 480px;
    width: 1000px;
    height: 1000;
}

/* Fifth image position */
img:nth-of-type(5){
    position: absolute;
    top: -25px;
    left: -125px;
    width: 2000px;
}

/* Sixth image position */
img:nth-of-type(6){
    position: absolute;
    top: -25px;
    left: -95px;
    width: 2000px;
    height: 2300px;
}

/* Seventh image position */
img:nth-of-type(7){
    position: absolute;
    top: -485px;
    left: 1270px;
    width: 850px;
    height: 1700px;
}

/* Eighth image position */
img:nth-of-type(8){
    position: absolute;
    top: -270px;
    left: -720px;
    width: 1300px;
    height: 1300px;
}

/*h1{
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(-50%);
}*/

/* Cookie font */
@font-face {
    font-family: 'Cookie';
    src: url("../Cookie/Cookie-Regular.ttf");
}

/* Love font */
@font-face {
    font-family: 'Love';
    src: url("../Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf");
}

/* Qwitcher font */
@font-face {
    font-family: 'Qwitcher';
    src: url("../Qwitcher_Grypen/QwitcherGrypen-Bold.ttf");
}

/* Header title */
header, h1 {

    position: absolute;
    top: -110px;
    left: 140px;
    font-size: 440%;
    letter-spacing: 60px;
    font-family: 'Cookie', sans-serif;
    color: antiquewhite;

}

/* h3 text block bottom centered text quote top */
h3 {

    position: absolute;
    font-size: 150%;
    letter-spacing: 0px;
    font-family: 'Love', sans-serif;
    color: antiquewhite;
    /*--------------------------------*/

    width: 1150px;
    height: 390px;
    position: fixed;
    top: 77%;
    left: 15%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    line-height: 0.9;
    word-spacing: normal;
}

/* h4 text block quote middle*/
h4 {

    position: absolute;
    font-size: 150%;
    letter-spacing: 0px;
    font-family: 'Love', sans-serif;
    color: antiquewhite;
    /*--------------------------------*/

    width: 1150px;
    height: 390px;
    position: fixed;
    top: 80%;
    left: 15%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    line-height: 0.9;
    word-spacing: normal;
}

/* h5 text block quote end */
h5 {

    position: absolute;
    font-size: 150%;
    letter-spacing: 0px;
    font-family: 'Love', sans-serif;
    color: antiquewhite;
    /*--------------------------------*/

    width: 500px;
    height: 390px;
    position: fixed;
    top: 83%;
    left: 15%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    line-height: 0.9;
    word-spacing: normal;
}

/* h6 text block artist text*/
h6 {

    position: absolute;
    font-size: 250%;
    letter-spacing: 0px;
    font-family: 'Cookie', sans-serif;
    color: rgb(53, 10, 10);
    /*--------------------------------*/

    width: 380px;
    height: 390px;
    position: fixed;
    top: 53%;
    left: 14%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    /*text-align: center;*/
    line-height: 0.9;
    /*word-spacing: normal;*/
    word-spacing: 5px;
}

/* h7 text block message paragraph */
h7 {

    font-weight: 2000;
    position: absolute;
    font-size: 160%;
    letter-spacing: 2px;
    font-family: 'Cookie', sans-serif;
    color: rgb(53, 10, 10);
    /*--------------------------------*/

    width: 389px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 80.5%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    line-height: 1.1;
    /*word-spacing: normal;*/
    word-spacing: 5px;
}

/* h8 text block lyrics*/
h8 {

    position: absolute;
    font-size: 140%;
    letter-spacing: 0px;
    font-family: 'Love', sans-serif;
    color: antiquewhite;
    /*--------------------------------*/

    width: 610px;
    height: 390px;
    position: fixed;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    line-height: 1.3;
    word-spacing: normal;
}

/* Styles both button and h2 bottom nauseous title*/
button, h2 {

    position: absolute;
    top: 470px;
    left: 355px;

    font-size: 230%;
    letter-spacing: 5px;
    font-family: 'Cookie', sans-serif;

    color: antiquewhite;

    background: transparent;   
    border: none;              
    padding: 15px 40px;        
    cursor: pointer;
}  

/* Changes color when hovering over button */
button:hover {
    color: rgb(228, 173, 55); 
}
